body{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card{
       border: 1px solid;
       padding:20px 32px;
       box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
       border-radius: 12px;
       background-color: #BBD6B8;
       width:50%;
       position: relative;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: #AEC2B6;
}

.choice{
    box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	padding:11px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
    width:20%;
}

.choice:hover{
    background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}

.choice:active{
    position:relative;
	top:1px;
}


.card h1,p {
     display: flex;
     justify-content: center;
     align-items: center;
}

.choice{
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute;
    left:30%; */
    
}

.btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

